:root {
  --bg-app: #f7f7fb;
  --bg-sidebar: #fde2e4;
  --bg-topbar: #ffffff;
  --bg-content: #fbf4ea;
  --border: #ececec;

  --brand: #d12c2c;
  --text: #111827;
  --muted: #6b7280;

  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    "Apple Color Emoji", "Segoe UI Emoji";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-app);
  color: var(--text);
}

button {
  cursor: pointer;
}